@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Quicksand", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.search-content {
  max-height: 200px;
  overflow-y: auto;
  top: calc(100% + 10px);
}

.search-content::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar {
  display: none;
}
